git+https://github.com/QuantuMobileSoftware/sentinel2tools.git@bca7ff06c72411a4ada3886131f1b030cbd94e0b
geojson==2.5.0 
rasterio==1.1.8
Shapely==1.7.1 
pyproj==3.0.0.post1 
requests==2.28.0 
geopandas==0.8.1
numpy==1.22.0 
imageio==2.5.0
opencv-python==4.7.0.68
scikit-image==0.19.3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
s2cloudless
catalyst==22.2.1 
segmentation-models-pytorch==0.2.1 
torch==1.7.1 
torchvision==0.8.2 

